#carry-out-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#top-text-menu h2 {
  color: white;
  margin: 1vh;
  max-width: 100vh;
}

#menu {
  width: 80vw;
  max-width: 50em;
  height: fit-content;
  border: 5px;
  background-color: wheat;
  border-color: wheat;
  border-style: solid;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.menu-section {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 1em;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.menu-item {
  font-weight: bolder;
}

.section-divider {
  margin-top: 2em;
  color: rgba(140, 45, 45, 0.705);
}

.description {
}

.price {
  padding-top: -1em;
}
