#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 10vw;
  min-height: 4rem;
  max-height: 6rem;
}

#navbar-logo {
  margin-left: 1rem;
  padding-top: 1rem;
  z-index: 10;
  transform: translate(0, -0.5vh);
  height: 12vw;
  min-height: 4.5rem;
  max-height: 7rem;
}

#navbar-list {
  display: flex;
  margin: 25px;
  list-style-type: none;
  color: white;
}

#navbar-list li {
  display: flex;
  margin: 0 1rem;
  text-decoration: none;
  font-size: calc(8px + 1.5vw);
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}
