#navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#navbar-logo {
  margin-left: 1rem;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

#navbar-list {
  display: flex;
  margin: 25px;
  list-style-type: none;
  color: white;
}

#navbar-list li {
  display: flex;
  margin: 0 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}
